@charset "utf-8";

:root {
  /* Color */
  --white-color: #f3f3f3;
  --black-color: #111;
  --main-color: #5195f4;
  --lightblue-color: #85b5f738;
  --red-color: #ff412c;
  --orange-color: #ff964abb;
  --lightorange-color: #ff954a58;
  --font-color: #444;
  --placeholder-color: #b4b4b4;
  --gray-color: #dfdfdf96;
  --shadow-color: #bebebe86;

  /* Size */
  --side-padding: 20px;
  --button-padding: 15px 20px;
  --text-padding: 20px 10px;
  --border-radius-size: 10px;

  /* Font Size */
  --font-title: 35px;
  --font-large: 18px;
  --font-medium: 16px;
  --font-small: 12px;
  --font-micro: 10px;
}

.wow {
  visibility: hidden;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

.con {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  box-shadow: 1px 3px 5px var(--gray-color);
}

header .con {
  height: 100%;
  box-sizing: border-box;
  padding: var(--side-padding) 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  height: 100%;
}
.logo img {
  height: 100%;
}
.menu {
  display: flex;
  height: 100%;
  align-items: flex-end;
  width: 80%;
  justify-content: flex-end;
}
.menu li {
  position: relative;
  width: 100px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.menu a {
  font-size: 16px;
  font-weight: 500;
  color: var(--font-color);
  transition: all 0.3s;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.menu a:hover {
  color: var(--main-color);
}
.menu button {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
  color: var(--font-color);
  transition: all 0.3s;
}
.menu button:hover {
  color: var(--main-color);
}
.nowPage > a {
  color: var(--main-color);
}
.menu > li:nth-child(4) {
  position: relative;
}
.menu > li:nth-child(2) i {
  margin-left: 3px;
}

.dropDown {
  position: absolute;
  width: 120px;
  top: 40px;
  z-index: 1;
  left: -10px;
  box-shadow: 3px 2px 10px #99999946;
}
.dropDown li {
  width: 100%;
  line-height: 30px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 8px 3px;
  box-sizing: border-box;
  border-bottom: 1px solid #99999941;
}
.dropDown li:last-child {
  border: none;
}
.dropDown a {
  display: block;
  width: 100%;
  height: 100%;
}

.bar {
  font-size: 26px;
  color: var(--font-color);
  display: none;
}

.container .con h1 {
  font-size: var(--font-title);
  font-weight: 500;
  color: var(--font-color);
  margin-bottom: 15px;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: var(--side-padding);
  border: 2px solid var(--gray-color);
  border-radius: var(--border-radius-size);
  margin-bottom: 40px;
}

.filter {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--side-padding);
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.filter .radio input {
  margin-left: 20px;
  cursor: pointer;
}
.filter .radio label {
  cursor: pointer;
}

.radio input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #ccc;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.radio input[type='radio']:checked {
  background-color: var(--main-color);
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px var(--main-color);
}

.input h2 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.output {
  width: 100%;
  box-sizing: border-box;
  padding: var(--side-padding);
  border: 2px solid var(--gray-color);
  border-radius: var(--border-radius-size);
  margin-bottom: 40px;
}

.output h2 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.output h3{
  color: var(--font-color);
}
.output h3 span{
  color: var(--orange-color);
  font-size: 16px;
  margin-left: 5px;
}

/* .resultSection:last-child{
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

#lastResult{
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.word{
  display: flex;
  justify-content: space-between;
}
.word1{
  width: 48%;
  box-sizing: border-box;
  border: 2px solid var(--gray-color);
  border-radius: var(--border-radius-size);
}
.word1 h2{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.word2{
  width: 48%;
  box-sizing: border-box;
  border: 2px solid var(--gray-color);
  border-radius: var(--border-radius-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.word2 h2{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.resultSection{
  padding: 10px 0 20px 0;
  border-bottom: 2px solid var(--gray-color);
}

.highlighterY {
  background: linear-gradient(#ffea0091 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 100% 14px;
  background-repeat: no-repeat;
  animation-name: highlighter;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.highlighterO {
  background: linear-gradient(#ff8c1191 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 100% 14px;
  background-repeat: no-repeat;
  animation-name: highlighter;
  animation-duration: 1s;
  animation-iteration-count: 1;
}
.highlighterG {
  background: linear-gradient(#70ff2891 0 100%);
  background-position: 0 calc(100% - 2px);
  background-size: 100% 14px;
  background-repeat: no-repeat;
  animation-name: highlighter;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes highlighter {
  from {
    background-size: 0 14px;
  }
  to {
    background-size: 100% 14px;
  }
}

.all {
  width: 100%;
  box-sizing: border-box;
  padding: var(--side-padding);
  border: 2px solid var(--gray-color);
  border-radius: var(--border-radius-size);
  margin-bottom: 40px;
}

.all .resultSection{
  border: none;
}

.all h2 {
  margin-bottom: 20px;
  color: var(--main-color);
}

.scrollTop {
  width: 60px;
  background-color: white;
  height: 60px;
  border-radius: 100%;
  box-shadow: 3px 2px 10px #9999999e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  color: var(--main-color);
  cursor: pointer;
  position: fixed;
  bottom: 32px;
  right: 115px;
  z-index: 5;
}

.popupBack {
  width: 100%;
  height: 100%;
  background-color: #0000005c;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  display: none;
  overflow: hidden;
  z-index: 5;
}
.popup {
  position: relative;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: white;
}
.popup > li:first-child {
  background-color: var(--main-color);
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup > li:first-child i {
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .menu {
    display: none;
  }
  .bar {
    display: block;
    cursor: pointer;
  }
  .popupBack {
    display: flex;
  }
  .popup {
    display: flex;
    flex-direction: column;
    z-index: 2;
  }
  .popup li {
    width: 100%;
    box-sizing: border-box;
    padding: var(--side-padding);
    font-size: large;
    border-bottom: 1px solid #9999992e;
    font-weight: 500;
    color: var(--font-color);
  }
  .popup li:last-child {
    border: none;
  }
  .logout {
    border: none;
    background: none;
    font-size: 22px;
    cursor: pointer;
    color: var(--font-color);
    transition: all 0.3s;
  }
  .logout:hover {
    color: var(--main-color);
  }
  .popup li:hover > a {
    transition: all 0.3s;
  }
  .popup li:hover > a {
    color: var(--main-color);
  }
  .dropDown {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 10px;
    box-shadow: none;
  }
  .dropDown li {
    width: 100%;
    padding: 0;
    text-align: start;
    padding: var(--side-padding) 0 var(--side-padding) 10px;
  }
  .dropDown li:last-child {
    padding-bottom: 0;
  }
}
