<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>해드림</title>
    <link rel="icon" th:href="@{/img/haedream.ico}" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/etc/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/landing.css}" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d5377ff581.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- animate.style -->
    <link rel="stylesheet" th:href="@{/css/etc/animate.css}" />
    <!-- wow.js -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script>
      new WOW().init();
    </script>
  </head>
  <body>
    <div class="conatainer">
      <div class="con1">
        <div class="logo">
          <img th:src="@{/img/HaeLogo.png}" alt="해드림로고" />
        </div>
        <div class="exam wow animate__fadeInUp animate__animated">
          <img th:src="@{/img/main.png}" alt="메인">

        </div>
        <div class="Login">
          <p>작문 AI를 해드림으로 평가해보세요!</p>
          <a th:href="@{/login}" class="getLogin">로그인</a>
        </div>
      </div>
      <!-- con1 end -->
      <div class="con2" data-wow-offset="10">
        <div class="fast">
          <div class="miniExam wow animate__fadeInBottomLeft animate__animated">
            <img th:src="@{/img/easy.png}" alt="쉽다 이미지">
          </div>
          <div class="fast_text">
            <h2>쉽다!</h2>
            <p>해드림은 평가하기가 아주 쉽습니다!</p>
          </div>
        </div>
                <div class="easy">
          <div class="easy_text">
            <h2>편하다!</h2>
            <p>해드림은 평가결과를 한눈에 볼 수 있습니다! </p>
          </div>
          <div class="miniExam wow animate__fadeInBottomRight animate__animated">
            <img th:src="@{/img/comfor.png}" alt="편하다 이미지">
          </div>
        </div>

        <div class="Join">
          <h1>바로 회원가입 해보세요!</h1>
          <a th:href="@{/login}" class="getJoin">회원가입</a>
        </div>
      </div>
      <!-- con2 end -->
    </div>
    <!-- container end -->
        <div class="scrollTop">
      <i class="fa-solid fa-arrow-up"></i>
    </div>
    <script>
      // scrollTop

      $('.scrollTop').hide();
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $('.scrollTop').fadeIn();
        } else {
          $('.scrollTop').fadeOut();
        }
      });

      $('.scrollTop').click(function () {
        $('html, body').animate({ scrollTop: 0 }, '300');
      });
    </script>
  </body>
</html>
