<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>해드림</title>
    <link rel="icon" th:href="@{/img/haedream.ico}" />
    <link rel="icon" th:href="@{/img/haedream.ico}" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/etc/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/etc/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d5377ff581.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- animate.style -->
    <link rel="stylesheet" th:href="@{/css/etc/animate.css}" />
    <link rel="stylesheet" th:href="@{/css/etc/animate.css}" />
    <!-- wow.js -->
    <script defer th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/login.js}" defer></script>
    <script defer th:src="@{/js/wow.min.js}"></script>
    <script th:src="@{/js/login.js}" defer></script>
  </head>
  <body>
    <div class="conatainer">
      <div class="loginContainer">
        <div class="left">
          <div class="logo">
            <a href="#"><img th:src="@{/img/HaeLogo.png}" alt="" /></a>
            <a href="#"><img th:src="@{/img/HaeLogo.png}" alt="" /></a>
            <span>로그인</span>
          </div>
          <form class="loginForm" th:action="@{/login}" method="POST">
            <div class="id">
              <p>아이디</p>
              <input type="text" name="username"/>
              <input type="text" name="username"/>
            </div>
            <div class="pw">
              <p>비밀번호</p>
              <input type="password" name="password"/>
            </div>
            <div class="etc">
              <span class="wrongUser">존재하지 않는 아이디 혹은 비밀번호 입니다.</span>
            </div>
            <input type="submit" value="로그인">
          </form>
          <a href="#">비밀번호 찾기</a>
          <div class="popup">
            <div class="signUp">
              <div class="logo">
                <span>회원가입</span>
                <span class="close"><i class="fa-solid fa-xmark"></i></span>
              </div>
              <form class="loginForm" th:action="@{/signup}" method="POST">
              <form class="loginForm" th:action="@{/signup}" method="POST">
                <div class="id">
                  <p>아이디</p>
                  <input type="text" name="username"/>
                  <input type="text" name="username"/>
                </div>
                <div class="pw">
                  <p>비밀번호</p>
                  <input type="password" name="password"/>
                  <input type="password" name="password"/>
                </div>
                <div class="pw">
                  <p>비밀번호 확인</p>
                  <input type="password" name="passwordcheck"/>
                  <input type="password" name="passwordcheck"/>
                </div>
                <div class="pw">
                  <p>이메일 입력</p>
                  <input type="text" name="email"/>
                  <input type="text" name="email"/>
                </div>
                <input type="submit" value="회원가입">
                <input type="submit" value="회원가입">
              </form>
            </div>
            <!-- signUp end -->
          </div>
          <!-- popup end -->
        </div>
        <div class="right">
          <div class="panel"></div>
          <div class="panel"></div>
        </div>
      </div>
      <!-- loginContainer end -->
    </div>
    <!-- container end -->
  </body>
</html>
