<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>해드림</title>
    <link rel="icon" th:href="@{/img/haedream.ico}" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/etc/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/loglist.css}" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d5377ff581.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- js -->
    <script th:src="@{/js/loglist.js}" defer></script>
</head>

  <body>
    <header>
      <div class="con">
        <div class="logo">
          <a href="#"><img src="../img/HaeLogo.png" alt="해드림로고" /></a>
        </div>
        <ul class="menu">
          <li class="nowPage"><a href="#">로그</a></li>
          <li>
            <a href="#">평가<i class="fa-solid fa-caret-down"></i></a>
          </li>
          <li><a href="#">분석</a></li>
          <li><a href="#">username</a></li>
          <li>
            <button class="delete" type="button"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
          </li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="con">
        <ul class="logList">
          <li>
            <p class="index">1.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">2.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">3.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">4.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">5.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">1.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">2.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">3.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">4.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">5.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">1.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">2.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">3.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">4.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
          <li>
            <p class="index">5.</p>
            <div class="mid">
              <div class="projectName">Test Project</div>
              <span class="modelName">Test model</span>
              <span class="date">(2024.03.24)</span>
            </div>
            <div class="del"><i class="fa-solid fa-trash-can"></i></div>
          </li>
        </ul>
        <div class="pagination-container">
          <div class="prev-button">이전</div>
          <div class="number-button-wrapper"><span class="number-button">1</span></div>
          <div class="prev-button">이후</div>
        </div>
      </div>
      <!-- con end -->
    </div>
    <!-- container end -->
  </body>

</html>


   
