<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>해드림</title>
    <link rel="icon" th:href="@{/img/haedream.ico}" />
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/etc/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/d5377ff581.js" crossorigin="anonymous"></script>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet" />
    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <!-- js -->
    <script th:src="@{/js/main.js}" defer></script>
  </head>
  <body>
    <header>
      <div class="con">
        <div class="logo">
          <a th:href="@{/main}"><img th:src="@{/img/HaeLogo.png}" alt="해드림로고" /></a>
        </div>
        <ul class="menu">
          <li><a th:href="@{/profile}">username</a></li>
          <li>
            <button class="delete" type="button"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
          </li>
        </ul>
      </div>
    </header>
    <div class="container">
      <div class="con">
        <div class="projectAdd">
          <button type="button">프로젝트 추가</button>
          <div class="delete">
            <button type="button">삭제<i class="fa-solid fa-trash-can"></i></button>
            <button type="button" id="deleteButton">삭제하기<i class="fa-solid fa-xmark"></i></button>
            <button type="button">취소</button>
          </div>
        </div>
        <div class="projectInfo">
          <form th:action="@{/main/projectSave}" method="POST" class="projectForm" th:object="${newProject}">
            <div class="id">
              <p>프로젝트 이름</p>
              <input type="text" placeholder="프로젝트 이름을 입력해주세요." id="projectName" th:field="*{projectName}"/>
            </div>
            <div class="pw">
              <p>평가 기준</p>
              <textarea
                name="standard"
                th:field="*{standard}"
                cols="30"
                rows="20"
                placeholder="평가 기준을 입력해주세요. ex) 평가기준 블라블라 (어케하누)"
              ></textarea>
            </div>
            <div class="make">
              <input type="submit" class="makeButton" value="추가하기">
              <button type="button" class="back" >취소</button>
            </div>
          </form>
        </div>
        <h1 class="title">프로젝트 목록</h1>
        <ul class="projectList">
          <li th:each="project : ${projects}">
            <a th:href="@{/loglist}">
              <input type="checkbox" th:name="${project.id}" class="checkbox" />
              <img th:src="@{/img/folder.png}" alt="폴더 그림" />
              <span th:text="${project.projectName}"></span>
            </a>
            <button type="button" class="standardView">평가기준 보기</button>
          </li>
        </ul>
        <div class="standardPopup">
          <h2>평가기준 <i class="fa-solid fa-xmark"></i></h2>
          <p>평가기준입니다.</p>
        </div>
      </div>
      <!-- con end -->
      <script th:inline="javascript">
        // 프로젝트 삭제
        $(document).ready(function(){
          $("#deleteButton").click(function(){
          let selectedProjectIds = [];
          $(".checkbox:checked").each(function(){
            selectedProjectIds.push($(this).attr('name'));
          })
          if(selectedProjectIds.length > 0){
            $.ajax({
              url: "/main/projectDelete",
              type: "POST",
              data: JSON.stringify(selectedProjectIds),
              contentType: "application/json",
              dataType: "json",
              success: function(response){
                selectedProjectIds.forEach(function(projectId){
                  $('input[name="' + projectId + '"]').closest('li').remove();
                })
              }
            })
          }
        })
        })

        // 평가기준 안쓰면 못넘어감
        $(document).ready(function(){
          $('.projectForm').submit(function(event){
              let projectNameValue = $('input[name="projectName"]').val().trim();
              let standardValue = $('textarea[name="standard"]').val().trim();
              
              if(projectNameValue === '') {
                  alert('프로젝트 이름을 입력해주세요.');
                  event.preventDefault();
              }
              else if(standardValue === '') {
                  alert('평가 기준을 입력해주세요.');
                  event.preventDefault();
              }
              
          });
        });

        // 각 li의 평가기준 보여주기
        $(".standardPopup").hide();

        $(document).ready(function(){
          $(".standardView").click(function(){
            let projectId = $(this).closest("li").find('.checkbox').attr("name");
            console.log(projectId);
            $.ajax({
              url:'/main/getStandard',
              type:'POST',
              data:JSON.stringify({projectId : projectId}),
              contentType:'application/json',
              success: function(response){
                $(".standardPopup p").text(response);
                $(".standardPopup").show();
              }
            })
          })
        })

        // 평가기준 팝업 닫기
        $('.standardPopup h2 i').click(function(){
        $('.standardPopup').hide();
    });

      </script>
    </div>
    <!-- container end -->
    <div class="chatbot">
      <i class="fa-regular fa-comments"></i>
    </div>    
    <div class="scrollTop">
      <i class="fa-solid fa-arrow-up"></i>
    </div>

  </body>
</html>
